<div class="nav">
  <div class="left">
    <a href="/" class="button">Home</a>
    <% if (typeof user !== 'undefined') { %>
      <a href="/new-message" class="button">New Message</a>
      <% if (!user.isMember) { %>
        <a href="/join-club" class="button">Join the Club</a>
      <% } %>
      <% if (user.isMember && !user.isAdmin) { %>
        <a href="/become-admin" class="button">Become an Admin</a>
      <% } %>
      </div>
      <div class="right">
        <p class="username"> <%= user.username %></p>
        <a href="logout" class="button">Logout</a>
      </div>
    <% } else { %>
    </div>
      <div class="right">
      <a href="/log-in" class="button">Log in</a>
      <a href="/sign-up" class="button">Sign up</a>
    </div>
    <% } %>
    
  </div>