<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="main">
        <h1>Create a Message</h1>
        <form action="/new-message" method="POST" class="new-message-form">
            <label for="Title">Title</label>
            <input name="title" placeholder="Title" type="text" />
            <label for="text">Message</label>
            <!-- <input name="text" type="text" class="new-message-text" maxlength="200" /> -->
            <textarea name="text" type="text" class="new-message-text" maxlength="200"></textarea>
            <div class="new-message-button">
                <button>Post</button>
            </div>
        </form>
        <% if (typeof errors !== 'undefined') { %>
        <ul>
            <% errors.forEach((error) => {%>
            <li><%=error.msg%></li>
            <%})%>
        </ul>
        <%}%>
    </div>

</body>
</html>