<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up Form</title>
</head>
<body>
    <h1>Sign up</h1>
    <form action="" method="POST">
        <label for="first_name">First Name</label>
        <input type="text" name="first_name" placeholder="First Name" type="text" />
        <label for="last_name">Last Name</label>
        <input type="text" name="last_name" placeholder="Last Name" type="text"/>
        <label for="username">Username</label>
        <input type="text" name="username" placeholder="username" type="text" />
        <label for="password">Password</label>
        <input type="password" name="password" type="password" minlength="8"/>
        <label for="confirm_password">Confirm Password</label>
        <input type="password" name="confirm_password" minlength="8" />
        <button>Sign up</button>
    </form>
</body>
</html>